// All
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
}
input {
  border: none;
}
// specify
body {
  height: 100vh;
  background-color: rgb(72, 187, 175);
  header {
    font-size: 2em;
    font-family: "Vast Shadow", cursive;
    background: #1ca89c;
    padding: 30px;
    margin: 0;
    color: #333;
    text-align: center;
    .emphasis {
      font-family: "Vast Shadow", cursive;
      font-size: 3em;
    }
  }
  main {
    max-height: 60vh;
    overflow: auto;
    #lists-ctn {
      max-width: 40%;
      margin: auto;
      margin-top: 10px;
      table {
        width: 100%;
        tr,
        td {
          background: -webkit-gradient(
            linear,
            0 0,
            0 100%,
            from(#65d8cb),
            to(#597c79)
          );
          background: -webkit-linear-gradient(#65d8cb 0%, #72f4e9 100%);
          background: -moz-linear-gradient(#65d8cb 0%, #72f4e9 100%);
          background: -o-linear-gradient(#65d8cb 0%, #72f4e9 100%);
          background: linear-gradient(#65d8cb 0%, #72f4e9 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65d8cb', endColorstr='#72f4e9',GradientType=0 );
          padding: 10px;
        }
        tr {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .list-bar {
          width: 100%;
          padding: 10px 10px 10px 5px;
          input[type="text"] {
            background-color: transparent;
            font-size: 2em;
            max-width: 90%;
            &:focus {
              outline: none;
              border: none;
            }
          }
          input[type="checkbox"] {
            width: 20px;
            height: 20px;
          }
        }
        .dropdown {
          margin-top: 10px;
          margin-bottom: 5px;
          display: flex;
          justify-content: space-between;
          input {
            background-color: transparent;
            font-size: 1.5em;
          }
          button {
            background: transparent;
            border: none;
            padding: 1px;
            font-size: 1.5em;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px rgb(72, 187, 175);
            &:active {
              box-shadow: 0 5px #65d8cb;
              transform: translateY(4px);
            }
          }
        }
      }
    }
    #add-ctn {
      position: fixed;
      bottom: 100px;
      left: 30%;
      width: 40%;
      margin: auto;
      padding-top: 20px;
      form {
        input {
          height: 55px;
          width: 70%;
          font-size: 1.5em;
          text-indent: 15px;
        }
        button {
          width: 30%;
          height: 55px;
          font-size: 1.5em;
          border: none;
          background: #29f4e3;
        }
      }
    }
  }
  #done {
    position: fixed;
    bottom: 0;
    left: 30%;
    width: 40%;
    text-align: center;
    height: 100px;
    background-color: #13756d;
    border: none;
    font-size: 3em;
    color: #aaa;
  }
}
.hide {
  display: none !important;
}
.done-true {
  text-decoration: line-through;
}
